<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MenuMapper">
<!-- TODO 只提取需要的字段   -->
    <select id="selectAll" resultType="com.example.domain.Menu">
        select *
        from menu
    </select>

    <select id="selectMenuByMenuId" resultType="com.example.domain.Menu">
        select * from menu
        where id in
        (
        <foreach collection="menuId" item="id" separator=",">
            <!-- collection数组或者集合名 item集合中对应参数-->
            #{id}
        </foreach>
        )
    </select>

    <select id="selectMenuNameByMenuId" resultType="com.example.domain.Menu">
        select id,menu_name
        from menu
        where
        id = #{id}
    </select>
</mapper>